@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,700&family=Outfit:wght@300;400;600;700&family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,100;1,400&family=VT323&display=swap");
body {
  background-image: url("https://www.teahub.io/photos/full/122-1227023_tokyo.jpg");
  background-size: 1920px 1080px;
  display: flex;
  justify-content: center;
  min-height: 60vh;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  color: white;
}

header {
  display: flex;
  align-items: flex-start;
  gap: 0.31rem;
}

header .country-name {
  padding-top: 0.625rem;
  font-size: 2rem;
  margin: 0;
}

main {
  background-color: rgba(0, 0, 0, 0.8);
  width: 41.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.8rem 0.8rem 0.8rem rgba(0, 0, 0, 0.6);
}

hr {
  width: 100%;
  border: 0.06rem solid grey;
  margin-top: 1.87rem;
  margin-bottom: 1.87rem;
  opacity: 60%;
}

.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.search-box input {
  width: 25rem;
  padding: 0.81rem;
  border-radius: 1.25rem;
  outline: none;
  color: white;
  border-color: rgba(0, 0, 0, 0.5);
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 60%;
  font-size: 1.5rem;
}

.search-box input::placeholder {
  color: white;
}

.search-box button {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 50%;
  width: 3.12rem;
  height: 3.12rem;
  border: 0.06rem solid rgba(128, 128, 128, 0.5);
}

.search-box button:hover {
  background-color: rgba(128, 128, 128, 0.8);
}

.min-max {
  display: flex;
  gap: 1.87rem;
}

img {
  width: 1.5rem;
  height: 1.5rem;
}

#weather-icon {
  transform: scale(3);
}

h1 {
  font-size: 3rem;
  margin: 0 0 0.625rem 0;
}

.curr-status {
  display: flex;
  align-items: center;
  gap: 1.87rem;
  font-size: 3rem;
}

.main-info {
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 3.75rem;
  max-height: 6.25rem;
}

ul {
  margin-top: 0;
  list-style: none;
  display: flex;
  gap: 3.125rem;
}

ul li {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}
