.forecast {
    &__daily,
    &__hourly {
        h2 {
            margin: 0;
            padding-left: 1.25rem;
        }

        ul {
            display: flex;
            background-color: rgba(192, 192, 192, 0.1);
            border: 1px solid black;
            border-radius: 7px;
            list-style: none;
            text-align: center;

            li {
                width: 25%;
                padding: 10px;
                transition: 0.5s ease-in-out;

                &:not(:last-child) {
                    border-right: 0.0625rem solid black;
                }

                &:hover {
                    background-color: rgba(192, 192, 192, 0.5);
                }

                h3 {
                    margin: 0;
                }
            }
        }
    }
}
