.search-box {
    display: flex;
    justify-content: center;
    gap: 0;
    flex-direction: column;
    padding-left: 3rem;

    &__search {
        display: flex;

        .city-input {
            width: 30rem;
            padding: 0.81rem;
            border-radius: 1.25rem;
            outline: none;
            color: white;
            border-color: rgba(0, 0, 0, 0.5);
            background-color: rgba(128, 128, 128, 0.5);
            opacity: 60%;
            font-size: 1.5rem;
        
            &::placeholder {
                color: white;
            }

            @media only screen and (max-width: 414px) {
                width: 18rem;
            }
        }

        button {
            background-color: rgba(128, 128, 128, 0.5);
            border-radius: 50%;
            width: 3.12rem;
            height: 3.12rem;
            border: 0.06rem solid rgba(128, 128, 128, 0.5);
        
            &:hover {
                background-color: rgba(128, 128, 128, 0.8);
            }
        }
    }

    &__suggestions {

        display:none;
        position:absolute;
        top:16%;
        background-color: rgb(37, 5, 5);
        justify-content: center;
        opacity:100%;
        flex-wrap:wrap;
        padding:0;
        margin:0;
        gap:0px;
        width:30rem;
        padding: 0.81rem;

        &.active {
        display: flex;
        }

        li {
            margin-right:2rem;
            justify-content: center;
            margin-bottom:0.25rem;
            border-bottom: 1px solid black;
            font-size:1rem;
            cursor:pointer;

            &:hover {
            background-color:rgba(120, 84, 136, 0.432);
            }
        }

        @media only screen and (max-width: 414px) {
            width:18rem !important;
            top:10% !important;
        }
    }
}