.weather-card {

    &__header {

    display: flex;
    align-items: flex-start;
    gap: 0.31rem;

        h1 {
            font-size: 3rem;
            margin: 0 0 0.625rem 0;

            @include breakpointDOWN (mobileonly) {
                font-size:2rem;
            }
        }

        .country-name-header {

        padding-top: 0.625rem;
        font-size: 2rem;
        margin: 0;
        }

        @include breakpointDOWN (mobileonly) {
            padding: 0;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap: 0;

            h1 {
                margin: 0;
            }
            
            p.country-name-header {
                margin: 0;
                padding-top: 0px;
                padding-left: 7rem;
            }
        }
    }

    &__main-info {
        padding-left: 2.5rem;
        display: flex;
        align-items: center;
        font-size: 2rem;
        gap: 3.75rem;
        max-height: 6.25rem;


        .curr-status {
            display: flex;
            align-items: center;
            gap: 1.87rem;
            font-size: 3rem;

            #weather-icon {
                transform: scale(3);

                @include breakpointDOWN (mobileonly) {
                    width: 64px;
                    height: 64px;
                }
            } 
            @include breakpointDOWN (mobileonly) {
                justify-content: flex-end;
                flex-direction: row-reverse;
                padding: 0;
                gap: 80px;

                #temp {
                    font-size: 5rem;
                    margin-top: 2rem;
                }
            }  
        }
        @include breakpointDOWN (mobileonly) {
            display: block;
            min-height: 10rem;
            padding: 0;
        }
    }

    &__statistics {

        ul {
            margin-top: 0;
            list-style: none;
            display: flex;
            gap: 3.125rem;

            li {
                display: flex;
                align-items: center;
                gap: 0.2rem;
            }

            @include breakpointDOWN (mobileonly) {
                gap: 0;
                justify-content: center;
                font-size: 1.5rem;
                margin-top: 2rem;
                flex-wrap: wrap;

                li {
                    gap: 0.1rem;
                    width: 40%;
                    margin: 0;
                }
            }
        }
    }
}



